@charset "utf-8";
.mainwd{ width:1220px; margin: 0 auto; max-width: 1220px;}
.main_content{width:930px;}
.clearfix{clear: both;}
/*选择框*/
.pding{ padding:10px;}
.mb10{margin-bottom: 10px;}
.area{ background:#fff; border:1px solid #e3e3e3;}
.choose_option table{ width:100%;}
.choose_option td{ vertical-align:top; border-bottom:1px dashed #ddd;}
.choose_option td.tit{width:70px;}
.choose_option a{ display:inline-block; padding:0px 4px; height:22px; line-height:22px; margin:5px 20px 5px 0px;}
.choose_option a.current,.choose_option a:hover{ background:#33B371; color:#fff; text-decoration:none;}
/*公司列表*/
.mb20 h2{ font-size:18px; line-height:34px;color:#333;font-weight:normal;}
.sort_box {border:1px solid #ddd; background:#f8f8f8; overflow:hidden; height:32px; line-height:32px; margin-bottom:-1px;}
.sort_list a span.sort_ico{width:10px; height:16px; background-position:-40px -21px;}
.sort_list a span.sort_on_ico{width:10px; height:16px; background-position:-30px -21px;}
.ico_list{ display:inline-block; background:url(../images/icolist.png) no-repeat; margin:0px 2px; vertical-align:middle;padding: 0;}
ul.block_type li{ background:#fff; border-bottom:1px solid #e3e3e3; padding:10px;}
ul.block_type li:hover{ background:#f8f8f8;}
img{vertical-align: top;}
.main_list a.pic img{padding: 3px;border: 1px solid #ddd;background-color: #fff;}
.main_company a.pic{position: relative;}
.main_company a.pic .qijian_ico{ position:absolute; top:-6px; left:-9px; width:71px; height:72px; background-position:-170px 0px;}

.main_list_rt h3{line-height: 35px;font-size: 16px;}
.bz_metals{ display:inline-block; border:1px solid #03bb98; color:#03bb98; font-size:12px; line-height:18px; height:18px; background:#fff;}
.bz_metals span{ width:18px; height:20px; background-position:-51px -63px; margin-right:0px;}
.qq_ico{ width:77px; height:22px; background-position:-92px 0px;}
.main_list_rt a.qq_ico{ margin-top:8px;}
.rt{float: right;}
.lt{float: left;}
.lt b{font-weight: bold;}
.main_list_rt div.lt{ width:70%; overflow:hidden;}
.main_list_rt div.lt p{ line-height:30px; height:30px; overflow:hidden;}
.xinyu_ico{ width:15px; height:15px; background-position:0px -15px;}
.telephone_ico{ width:15px; height:15px; background-position:0px -30px;}
.address_ico{ width:15px; height:15px; background-position:0px -45px;}
.main_com_rt p.sp_list{ display:inline-block;}
.main_com_rt{width: 80%;}
 .fontc12{color: #e7691e;font-size: 12px;}
.bar{ background:url(../images/progressbar.png) no-repeat; display:inline-block;}
.pingfen_bar span.probar_gray{ width:100px; height:6px; background-position:0px -33px;margin:0px 5px; position:relative;}
.pingfen_bar span.probar_color{ width:100px; height:6px; background-position:0px -26px;position:absolute; left:0px; top:0px;}
.btn_main_big{ width:100px; line-height:32px; background:#33B371; font-size:16px; border:none; margin-top:20px;}
.btn{ display:inline-block;opacity:1;cursor:pointer; text-align:center; color:#fff; outline:none;-webkit-appearance: none;}
/*翻页*/
.number li{ list-style:none; float:left; margin: 0 16px; color:#4c4c4c;}
.number{ max-width:480px; margin:0 auto;}
.number a{ font-size:16px; color:#4c4c4c;}
.number .current01{ background-color:#ff5517; padding:3px 7px; color:#fff;}
.number_bgbox{ max-width:930px; margin:0 auto; margin-top:10px; margin-bottom:60px;}
/*主体内容右边开始*/
.side_tit{ background:#f5f5f5;border-bottom:1px solid #ddd; line-height:36px; font-weight:bold; overflow:hidden;padding:0px 10px;}
ul.paihang li{ border-bottom:1px dashed #ddd; overflow:hidden; line-height:35px; min-height:35px;}
ul.paihang li .paihang_num{ display:inline-block; width:18px; height:18px; text-align:center; line-height:18px; border-radius:3px; margin-right:3px;color:#fff; background:#888888;}
ul.paihang li .ph_num_cl{ background:#33B371;}
.side_tit a{ font-size:12px; margin-top:5px; height:20px;}
.pding{ padding:10px;}
.side_content{ width:260px;}

/*公司首页*/
/*公司头部*/
.company_top{ max-width:1220px; margin:0 auto; padding:15px 0; background-color:#fc9539;}
.company_top img.pic {width: 160px;height: 80px;border: 5px solid #fff; margin-left:10px;}
.company_top_lt {margin-left: 20px;}
.company_top_lt h1 a {color: #fff;margin-right: 10px;font-size: 24px;line-height: 86px;}
.tuiguang_ico {width: 40px; height: 20px;background-position: -51px -42px;}
.company_top_rt {padding: 5px;background: #c86812;color: #fff;}
.company_top_rt p.title_pingjia { text-align: center;font-size: 14px; margin-right:10px;}
.company_nav {background: #333; max-width:1220px; margin:0 auto;}
.company_nav ul li {float: left;margin-right: 1px;}
.company_nav ul li a{ color:#fff; display:block; line-height:46px; padding-left:30px; padding-right:30px;} 
.company_nav ul li a:hover{background: #666;}
.company_nav_rt {background: #666;color: #fff;padding:0 10px;line-height:46px;}
/*左边内容*/
.case_bgbox,.subwd { width:1220px;margin: 0px auto;}
.sub_com_lt {width:900px;}
/*banner*/
.com_banner {width:900px;height:250px;overflow: hidden; position: relative;}
.ctrl li{ background-color:#ff5517; float:left; width:16px; height:16px; margin:0 6px; border-radius:50%; }
.ctrl li:hover{background-color: #666;}
.ctrl{ position:absolute; bottom:15px;left: 50%; margin-left: -28px;}
.left_arrow,.right_arrow{  position:absolute; top:50%; margin-top: -34px;}
.left_arrow{ left:0;}
.right_arrow{ right:0;}
/*公司简介*/
.com_intro_top { width:420px;}
.com_title .jianjie,.com_title .pingjia,.shipin,.com_title .yuyue,.com_title .case03{font-size: 16px;  line-height: 30px;  color: #333; font-weight: bold;}
.com_ico {  display: inline-block;  vertical-align: middle;  background: url(../images/com_ico.png) no-repeat;  margin: 0px 3px;  }
.more_ico {  width: 12px;  height: 12px;  background-position: -51px -1px;  }
.com_intro_top .com_box { height: 130px;}
.com_box {  border-top: 1px solid #ccc;  background: #f8f8f8;}
.news_ico {  width: 4px;  height: 4px;  background-position: -30px -105px;  margin-right: 5px; }
.com_box ul li a{line-height: 26px;}
.com_pinglun {overflow: hidden;  padding: 0px 10px;  }
.com_pinglun ul li {  padding: 2px 0px;  }
.new_pinglun ul li {  margin: 10px 0px;  border-bottom: 1px solid #ddd;  padding: 5px 0px;  overflow: hidden;}
.new_pinglun div.lt {  width: 42px;}
.new_pinglun div.lt img {  width: 42px;  height: 42px;  }
.new_pinglun ul li img {margin-right: 5px;  border-radius: 30px;}
.new_pinglun ul li div.rt {  width: 93%;}
.new_pinglun ul li p {  overflow: hidden;}
.graycl {  color: #999;}
label { cursor: default;  }
/*右边开始*/
.sub_com_rt { width: 260px;  }
.sub_com_list {  border-right: 1px solid #e3e3e3;  border-bottom: 1px solid #e3e3e3;  }
table { display: table;  border-collapse: separate;  border-spacing: 2px;  border-color: grey;}
tbody { display: table-row-group;  vertical-align: middle;  border-color: inherit; color: rgb(85, 85, 85);  }
tr {  display: table-row;  vertical-align: inherit;  border-color: inherit;  }
.sub_com_list td {  width: 85px;  font-size: 14px;  border: 1px solid #e3e3e3;  text-align: center;  float: left;  border-bottom: none;  border-right: none;  }
td, th {display: table-cell;  vertical-align: inherit;}
.sub_com_list b {  font-size: 18px; font-weight: bold;}

.com_add {  width: 14px;  height: 20px;  background-position: -67px 0px;  }
.tit {  font-size: 14px;  color: #555;  }
.sub_com_add {  padding: 5px 10px;  height: 78px;  }
.sub_com_tpbt {  margin-bottom: 5px;  }
.sub_com_tpbt .btn {  margin-right: 10px;}
.btn {  border-radius: 0px;  border: none;}
.btn_sub_tuan {  width: 135px;  line-height: 34px;  background: #e7691e;  font-size: 20px;  height: 40px;  font-weight: bold;}
.btn {  display: inline-block;  opacity: 1;  cursor: pointer;  text-align: center;  color: #fff;  outline: none;  -webkit-appearance: none;}
/*视频*/
.video {  background: #f5f5f5;  width: 260px;  height: 200px;  overflow: hidden;  }
embed[Attributes Style] {  width: 260px;  height: 200px;  vertical-align: -webkit-baseline-middle;}
/*最新预约*/
.com_yuyue_title {background: #ddd;  border-bottom: 1px solid #e3e3e3;line-height: 26px;}
.com_yuyue_title span,.com_yuyue span {  display: inline-block;  width: 30%;  text-align: center;  line-height: 32px; }
.com_yuyue_box {  height: 195px;  overflow: hidden;  }
/*装修案例*/
.case_bgbox{margin-bottom:40px;}
ul.com_case li { margin:10px 5px;  float: left;  }
.opacity_img {  position: relative;  overflow: hidden;}
.opacity_img p.text { color: #fff;}
.opacity_img p {  position: absolute;  left: 0px;  bottom: 0px;  height: 30px;  line-height: 30px;  overflow: hidden;  width:100%;  padding: 0px 3%;}
/*装修案例 详细*/
/*左边*/
.company_case_txt_title{font-size: 16px;line-height: 30px;color: #333;}
.sub_case_top h3 label {font-size: 12px;margin-left: 10px;}
.index_ico { display: inline-block; background: url(../images/ico1.png) no-repeat;vertical-align: middle; margin: 0px 3px;}
.like_ico{width: 14px;height: 14px;background-position: 0px -33px;}
.person_ico {width: 14px;height: 14px;background-position: 0px -49px;}
.jjz_btn_box {position: relative;}
.case_pic_top {position: relative;width:900px;overflow: hidden;}
.case_img_box{ position:relative;left:50%;top:0; margin-left:-320px;}
.case_left_arrow{ position:absolute;left:26px; top:36%;}
.case_right_arrow{ position:absolute;right:26px; top:36%;}
.small_img{float: left;padding: 0 2px;}
.small_img_box{margin-top: 22px;margin-left: 120px;}




/*评论*/
form.pinglun textarea {width: 99%;height: 100px;}
input.text, select.text, textarea.text {outline: none;border: 1px solid #e3e3e3; height: 26px;line-height: 26px; padding: 3px 0px 3px 0px;font-size: 12px;color: #555;}
.new_pinglun p.tit { border-bottom: 1px solid #ddd;font-size: 16px;}
/*右边*/
.sub_case_yuyue a img { padding: 2px;border: 1px solid #ddd; width: 60px;height: 60px;}
.btn_main_sm {width: 80px; line-height: 26px; background: #01af63;font-size: 14px; margin-top:14px;}
.sub_case_yuyue{ width:200px;}
.sub_case_rtpic a img {width:70px;height:70px;}



/*公司简介*/
/*左边*/
.company_lt_intro {background: #f8f8f8;padding: 10px 20px;font-size: 14px;}
.company_lt_intro .pic{width:230px; height: 160px; border: 1px solid #e3e3e3;}
.company_lt_intro .com_pingf {margin-top:16px;border-top: 1px dashed #ccc; padding-top:10px;}
.company_lt_intro .com_pingf p {line-height: 22px;}
.company_lt_intro .com_pingf p.title_pingjia {text-align: center;}
.tit_left{font-size: 16px;color: #555; text-align:center; font-weight:bold; margin-top:10px;}
/*右边*/
.company_rt {width:930px;}
.mb20 { margin-bottom: 20px;}
.sub_com_title{border-bottom: 1px solid #e3e3e3; line-height:30px;font-size:16px;}
.sub_com_title b {border-bottom: 2px solid #fe7902;padding-bottom: 2px; font-weight:bold;}
embed[Attributes Style] { width: 720px; height: 480px;vertical-align: -webkit-baseline-middle;}
.introduce_txt{ font-size:14px;line-height:24px; margin-top:10px; color:#4d4d4d;}
.sub_com_contro {padding: 10px 0px;}
.sub_com_contro p{ line-height:26px;}

/*公司新闻*/
ul.news li a {font-size: 14px;}
ul.news li {overflow: hidden;border-bottom: 1px dashed #ddd;line-height: 35px;}
.news_txt{font-family:微软雅黑;color:#555555;font-size:14px;line-height:28px;background-color:#FFFFFF;}
.news_list{ line-height:32px;}
/*业主评价*/
.pingjia_box {background: #f8f8f8;border: 1px solid #ddd;}
.pingjia_box span.pf {width: 30%; display: inline-block; margin: 10px 0px;}
.sub_com_pinglun td { vertical-align: top; padding: 5px 0px;}
.sub_com_pinglun textarea.full {width: 100%;}
form.pinglun textarea {height: 100px;}
form.pinglun .pinglun_btn { margin: 10px 0px; background: #eee; width: 80px; line-height: 22px;font-size: 14px; height: 30px; border: 1px solid #bbb; color:#333;}
input.btn {text-decoration: none;cursor: pointer;}
